:root {
    --overlay-color: rgba(22,33,62,0.9);
    --bottom-Color: #08D9D6;
    --highlight-Color: #FF2E63;
    --link-Color: rgba(0, 89, 197, 0.9);
    --secondary-color: rgba(25, 165, 83, 0.9);
    --main-Color: #EAEAEA;
    --dark-Color: #252A34;
    --bottom-Color: #08D9D6;
    --black-Color: #000;
    --whitgh-Color: #fff;
    --Writer-Color: #a8a7a7;
    --primary-color: rgba(123, 125, 128, 0.514);
    --secondary-color: #252a34;   
}